<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>Admin | Tradingusd</title>
  <!-- Favicon -->
  <link rel="icon" href="/dash/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/dash/css/argon.css?v=1.2.0" type="text/css">
  <link rel="stylesheet" href="/dash/css/style-pre.css" type="text/css">
</head>

<body>
  
  {{{ body }}}

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="https://demos.creative-tim.com/argon-dashboard-bs4/assets/js/argon.min.js?v=1.2.0"></script>
  <script src="/prin/js/preloader.js"></script>
</body>

</html>